ul {
  list-style-type: none;
  padding-left: 20px;
}

ul ul {
  margin-left: 20px;
  display: none; /* Masquer initialement les sous-répertoires et fichiers */
}

li:before {
  content: "├";
  position: absolute;
  margin-left: -15px;
}

li:last-child:before {
  content: "└";
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + ul {
  display: block; /* Afficher les sous-répertoires et fichiers lorsque la case est cochée */
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}